.Header container {
	background-color: #282c34;
	color: white;
	padding: 40px;
	font-family: Arial;
}
.Header img { 
	float: left;
	position: absolute;  
}
Header .image {
	flex-basis: 40%;
}
.Header text {
	font-size: 10px;
}