@import url("https://fonts.googleapis.com/css?family=Cuprum|Khula");

/* establish persian green as a variable */
:root {
  --bg-light: rgb(234, 232, 255);
  --bg-light-07: rgba(234, 232, 255, 0.7);

  --persian-green: #00a693;
  --header-font: "Cuprum", sans-serif;
  --paragraph-font: "Khula", sans-serif;
}
